
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}
header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  background: #333;
  padding: 0.5rem;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
nav a:hover {
  background-color: #575757;
  border-radius: 5px;
}
.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
h2 {
  color: #333;
}
form {
  display: grid;
  gap: 1rem;
}
input, textarea, select, button {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: #4CAF50;
  color: white;
  font-size: 0.9rem; /* Reduced font size */
  padding: 0.4rem 0.8rem; /* Adjust padding for a smaller size */
  border: 1px solid #4CAF50;
  border-radius: 5px;
  cursor: pointer;
  width: 200px; /* Set a fixed width */
  margin: 1rem auto; /* Center horizontally with auto margin */
  display: block; /* Treat it as a block-level element */
}

button:hover {
  background-color: #45a049;
}

.history {
  margin-top: 2rem;
}
.history ul {
  list-style-type: none;
  padding: 0;
}
.history ul li {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
